body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-montserrat: Montserrat;
  --font-roboto: Roboto;

  /* font sizes */
  --font-size-21xl: 40px;
  --font-size-base: 16px;
  --font-size-mini: 15px;
  --font-size-xl: 20px;
  --font-size-smi: 13px;
  --font-size-17xl: 36px;
  --font-size-sm: 14px;
  --font-size-lg: 18px;

  /* Colors */
  --color-white: #fff;
  --color-dimgray-100: #717171;
  --color-dimgray-200: #4e4e4e;
  --color-mediumaquamarine: #18cfab;
  --color-gray-100: #f8fcfe;
  --color-gray-200: #777;
  --color-gray-300: rgba(0, 0, 0, 0);
  --color-gray-400: rgba(255, 255, 255, 0.6);
  --color-gainsboro-100: #dadada;
  --color-whitesmoke-100: #f2f4f5;
  --color-whitesmoke-200: #edefef;
  --color-silver: #bbb;
  --color-skyblue: #14b9d5;
  --color-darkgray: #aeaeae;
}
